body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: rgba(0, 0, 0, .87);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01rem;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Playfair Display', serif;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}